<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Automatic Style Guide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/autostyles.css">
  {{#each menu}}
  <link rel="stylesheet" href="css/{{this}}">
  {{/each}}
</head>
<body>
  <h1 class="autostyles-h1">Automatic Style Guide</h1>

  <nav>
  {{#each menu}}
    <a href="page{{@index}}.html" class="autostyles-button">{{this}}</a>
  {{/each}}
  </nav>

  <script type="text/javascript" src="css/autostyles.js"></script>
</body>
</html>
