html {
  font-size: 100%;
}

/* Specific styles for autostyles module */
.autostyles-body,
.autostyles-body code {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.autostyles-h1,
.autostyles-block,
.autostyles-button,
.autostyles-code,
.autostyles-code > code,
.autostyles-block-title {
  color: #111;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 0.85rem;
}

.autostyles-code,
.autostyles-code code,
.autostyles-tag,
.autostyles-attr {
  display: inline-block;
  vertical-align: top;
}

/* Nav Buttons */
.autostyles-button {
  background-color: #ddd;
  border-radius: 0.15rem;
  display: inline-block;
  font-weight: bold;
  padding: 0.15rem 2rem;
  text-decoration: none;
  text-align: center;
  margin: 1rem;
}
/* Back button */
.autostyles-button.back {
  position: absolute;
  top: 0;
  right: 0;
}
.autostyles-button:hover {
  background-color: #2787d8;
}

/* Page Heading */
.autostyles-h1 {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 1rem;
}

/* Block Heading */
.autostyles-block-title {
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 1.2rem;
  cursor: pointer;
}

.autostyles-block-title > span {
  background-color: #333;
  border-radius: 0.25rem;
  padding: 0 1.4rem;
}

/* Block w/ tag & code */
.autostyles-block {
  display: block;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  height: 100%;
  max-height: 1000px;
  margin: 1rem;
  transition: max-height 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
/* Block style when Closed  */
.autostyles-block.closed {
  max-height: 0;
  overflow-y: hidden;
}
/* Code Block */
.autostyles-code {
  white-space: normal;
}
/* Tag Block */
.autostyles-tag {
  width: 15rem;
}
/* Line as attr: val */
.autostyles-attr {
  width: 15rem;
  font-weight: bold;
}
.autostyles-val {
  color: #2787d8;
}
